body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: Arial;
}

.form-container{
    background-color: gold;
    padding: 25px;
    box-shadow: 0 0 30px rgb(85, 85, 85);
    border-radius: 5px;
}

.form-container input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-container button{
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(27, 27, 27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message.success{
    background-color: rgb(255, 238, 145);
    color: rgb(255, 187, 0);
}

.message.error{
    background-color: #f8d7da;
    color: #721c24;
}